<div class="heard">
    <h3>弘光科技大學</h3>
    <h2> <a href="home.html">招生資料分析</a></h2>
</div>
<hr>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav menuul">
                <li><a href="newschild.html">新生畢業學校(以學年度區分)</a> </li>
                <li><a href="news.html">100-107學年度新生來源統計圖</a></li>
                <li><a href="index.html">招生宣導方式</a></li>
                <li><a href="coefficient.html">相關係數</a></li>
            </ul>
        </div>
    </div>
</nav>

<hr>